<h1>Editing Book</h1>

<%= form_with(model:@book, local: true) do |form| %> <!--バリデーションチェック-->
  <% if @book.errors.any? %> <!--ここからエラ〜メッセージ-->
    <div id="error_explanation">
      <h2><%= pluralize(@book.errors.count, "error") %> prohibited this product from being saved:</h2>

      <ul>
        <% @book.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
<% end %>
  <%= form_with model:@book, url:book_path(@book), local:true do |f| %>
    <div class="field">
      <label for="book_title">Title</label>
       <%= f.text_field :title %>
    </div>
    <div class="field">
      <label for="book_body">Body</label>
      <%= f.text_area :body %>
    </div>
    <%= f.submit 'Update Book' %>
  <% end %>

<div class="link">
  <%= link_to "Show", book_path(@book.id) %>
  <%= "  |  " %>
  <%= link_to "Back", books_path %>
</div>