<div class="messege">
  <p id="notice">
    <%= notice %> <!--サクセスメッセージ-->
  </p>
</div>

<p><span>Title: </span><%= @book.title %></p>
<p><span>Body: </span><%= @book.body %></p>

<div class="link">
    <%= link_to "Edit", edit_book_path(@book.id) %>
    <%= "  |  " %>
    <%= link_to "Back", books_path %>
</div>